header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav{
border: none;
padding: 0;
position: relative;
}

nav ul li a{
        width: 100%;
}
 
/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
